@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<ClaimedDeals>
<form asp-action="UserClaimedDeals" method="post" class="align-items-center">

    <div class="form-group">
        <label class="align-items-center">UserID</label>
        <input type="number" class="form-control" id="userID" name="ID" placeholder="Enter user's ID">
    </div>

    <div class="align-items-center">
        <button type="submit" class="btn btn-primary">Search User's calimed deals</button>
    </div>

    <br><br>
</form>

@if (Model != null)
{
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>ID</th>
            <th>UserID </th>
            <th>Deal_ID</th>
            <th>Amount</th>
            <th>Currency</th>
        </tr>


        @foreach (var d in Model)
        {
            <tr>
                <td>@d.ID</td>
                <td>@d.UserId</td>
                <td>@d.DealID</td>
                <td>@d.Amount</td>
                <td>@d.Currency</td>
            </tr>

       

        }
    </table>
}